* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(../img/desk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#study {
  height: 93vh;
  min-height: 640px;
  overflow: hidden;
  transition: opacity 0.1s ease-in-out;
}
#study .flash-cards {
  transition: all 1s;
  z-index: 1;
  pointer-events: auto;
}
#study .flash-cards .flash-card {
  height: 720px;
  width: 450px;
  background-image: url(../img/card-background.jpg);
  background-size: cover;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all;
  cursor: grab;
}
#study .flash-cards .flash-card .photoHolder {
  height: 55%;
  width: 95%;
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.5rem;
  border: 3px solid #505050;
  overflow: hidden;
  border-radius: 10px;
  pointer-events: none;
}
#study .flash-cards .flash-card .contentHolder {
  height: 40%;
  width: 90%;
  margin: 1rem;
  color: black;
  border-radius: 10px;
  pointer-events: none;
}
#study .flash-cards .flash-card .contentHolder .dictionary {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
#study .flash-cards .flash-card .contentHolder .dictionary button {
  background: rgba(0, 0, 0, 0);
}

.loaded #study {
  opacity: 1;
}

.moving.flash-card {
  transition: none;
  cursor: grabbing;
}

@media only screen and (max-width: 766px) {
  .card .dictionary {
    font-size: 0.8rem;
    padding: 1rem;
  }
  .card .dictionary form {
    font-size: 1rem !important;
  }

  h1 {
    font-size: 1.5rem !important;
  }

  .dictionary {
    font-size: 1rem;
  }
  .dictionary form {
    font-size: 1rem;
  }
}
.squareContainer {
  width: 125px;
  height: 125px;
  position: relative;
  transition: all 1s;
}

.square {
  width: 50px;
  height: 50px;
  background: #000;
  position: absolute;
}

.tl {
  background: #db3b3b;
  animation: lbtr 3.2s infinite both;
}

@keyframes lbtr {
  0% {
    left: 25px;
  }
  6.25% {
    left: 0;
  }
  25% {
    top: 0;
  }
  31.25% {
    top: 25px;
  }
  68.75% {
    top: 25px;
  }
  75% {
    top: 0;
  }
  93.75% {
    left: 0;
  }
  100% {
    left: 25px;
  }
}
.bl {
  background: #477ecc;
  animation: brlt 3.2s infinite both;
}

@keyframes brlt {
  0% {
    top: 50px;
  }
  6.25% {
    top: 50px;
  }
  12.5% {
    top: 75px;
  }
  31.25% {
    left: 0;
  }
  37.5% {
    left: 25px;
  }
  62.5% {
    left: 25px;
  }
  68.75% {
    left: 0;
  }
  87.5% {
    top: 75px;
  }
  93.75% {
    top: 50px;
  }
  100% {
    top: 50px;
  }
}
.br {
  background: #56cc47;
  animation: rtbl 3.2s infinite both;
}

@keyframes rtbl {
  0% {
    top: 75px;
    left: 50px;
  }
  12.5% {
    left: 50px;
  }
  18.75% {
    left: 75px;
  }
  37.5% {
    top: 75px;
  }
  43.75% {
    top: 50px;
  }
  56.25% {
    top: 50px;
  }
  62.5% {
    top: 75px;
  }
  81.25% {
    left: 75px;
  }
  87.5% {
    left: 50px;
  }
  100% {
    top: 75px;
    left: 50px;
  }
}
.tr {
  background: #f7d707;
  animation: tlrb 3.2s infinite both;
}

@keyframes tlrb {
  0% {
    top: 25px;
    left: 75px;
  }
  18.75% {
    top: 25px;
  }
  25% {
    top: 0;
  }
  43.75% {
    left: 75px;
  }
  50% {
    left: 50px;
  }
  56.25% {
    left: 75px;
  }
  75% {
    top: 0;
  }
  81.25% {
    top: 25px;
  }
  100% {
    top: 25px;
    left: 75px;
  }
}

/*# sourceMappingURL=study.css.map */
