* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../study/img/desk6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

div.card-header {
  height: 35px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.summary-container{
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
}