* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.pic-box {  
  border-radius: 10px;
  min-width: 400px;
}

.nextDiv {
  font-size: 30px;
}

table th, table td{
  font-size: 1.4rem;
}


table,
td {
    border: 1px solid #333;
    font-size: 10px;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
    font-size: 12px;
}

#leftMid {
  display: flex;
  justify-content: flex-end !important;
  padding: 0px 15px 0px 0px;
}

#quiz-word h4{
  font-size: 30px;
}
#quiz-word span{
  font-size: 24px;
}
#NeB {
  display: flex;
  justify-content: flex-start !important;
}

#nextButton {
  font-size: 24px;
}
body {
  background-image: linear-gradient(rgba(15, 4, 4, 0.1), rgba(0, 0, 0, 0.1)), url(./bgd3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}






