* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./scrap-background.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: #fafafa;
  height: 100vh;
}

form {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
  width: 80%;
}

form input {
  max-width: 700px;
  min-width: 350px;
  height: 45px;
  border-radius: 20px;
  text-align: center;
  font-size: 1rem;
}

form img {
  width: 40%;
  height: auto;
}

form #scrapButton {
  font-size: 1.3rem;
}

#config {
}

#presentationSwitch {
  height: 45px;
  color: white;
}

#logo,
#scrapButton,
.spinner-border {
  transition-duration: 2s;
}

#switch-button {
  width: 70px;
}
