* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(./signupBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  background-color: rgba(0, 0, 0, 0.7);
  height: 450px;
  width: 350px;
  border-radius: 10px;
}

#logo{
  width: 200px;
}

