<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link href="./style/study.css" rel="stylesheet" />
    <title>Scrapeasy | Study</title>
  </head>
  <body>
    <div class="container">
      <div class="row" id="navigationBar">
        <div class="col-12 p-0">
          <div
            class="btn-group btn-group-lg w-100"
            role="group"
            aria-label="Basic example"
          >
            <a class="btn btn-primary" href="/scrap/">Scrap!</a>
            <a class="btn btn-success" href="/study/">Study</a>
            <a class="btn btn-danger" href="/quiz/">Quiz</a>
            <div class="btn-group" role="group">
              <button
                id="btnGroupDrop1"
                type="button"
                class="btn btn-warning dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-user-circle"></i>
              </button>
              <div
                class="dropdown-menu bg-light"
                aria-labelledby="btnGroupDrop1"
              >
                <a class="dropdown-item" href="#" id="userName">Jason</a>
                <a class="dropdown-item" href="/summary/">My Profile</a>
                <a class="dropdown-item" href="/logout">Log Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div
          id="study"
          class="col d-flex justify-content-center align-items-center"
        >
          <div class="squareContainer" id="loading">
            <div class="square tl"></div>
            <div class="square bl"></div>
            <div class="square br"></div>
            <div class="square tr"></div>
          </div>
          <div
            class="flash-cards text-center d-none justify-content-center align-items-center h-100 w-100"
          >
            <!-- The card -->
            <div
              v-for="card in cards"
              class="flash-card d-flex flex-column justify-content-center bg-transparent rounded"
            >
              <div
                v-bind:style="{ backgroundImage: 'url(' + card.url + ')' }"
                class="photoHolder"
              ></div>
              <div
                class="contentHolder d-flex flex-column align-items-center mt-0"
              >
                <div>
                  <h1 id="word" class="text-center">{{ card.id }}</h1>
                </div>
                <div class="dictionary w-100 h-100 px-3 pt-1 text-left">
                  <!-- <form class="text-center"> -->
                  <button id="submit" type="button" class="border-0">
                    <i class="fas fa-volume-up"></i>
                  </button>
                  <p id="nature">
                    <strong>{{ card.nature }}</strong>
                  </p>
                  <p class="text-left">
                    {{ card.definition }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- Vue CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <!-- For Tinder Swipe Cards -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="./script/hammer.js"></script>

    <script src="./script/cards.js"></script>
    <script src="./script/vue.js"></script>
    <script src="./script/study.js"></script>
    <script src="./script/swipe-cards-effect.js"></script>
  </body>
</html>
